In [1]:
import pandas as pd
import datetime

In [15]:
df = pd.read_csv('../Data/data_original.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   unix         41256 non-null  int64
 1   date         41256 non-null  object
 2   symbol       41256 non-null  object
 3   open         41256 non-null  float64
 4   high         41256 non-null  float64
 5   low          41256 non-null  float64
 6   close        41256 non-null  float64
 7   Volume BTC   41256 non-null  float64
 8   Volume USDT  41256 non-null  float64
 9   tradecount   15320 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 3.1+ MB

In [17]:
df['date2'] = pd.to_datetime(df['unix'], origin='unix',  unit='ms')

In [18]:
df.head()

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount,date2
0,1651536000000,5/3/2022 0:00,BTC/USDT,38525.16,38573.82,38436.73,38455.02,841.40670,32399830.13,19999.0,2022-05-03 00:00:00
1,1651532400000,5/2/2022 23:00,BTC/USDT,38591.03,38747.46,38458.90,38525.16,1345.71985,51965954.03,26376.0,2022-05-02 23:00:00
2,1651528800000,5/2/2022 22:00,BTC/USDT,38639.67,38908.56,38572.32,38591.04,1390.19759,53800381.43,33463.0,2022-05-02 22:00:00
3,1651525200000,5/2/2022 21:00,BTC/USDT,38316.36,38770.00,38280.76,38639.67,1315.62981,50710273.88,38335.0,2022-05-02 21:00:00
4,1651521600000,5/2/2022 20:00,BTC/USDT,38563.39,38614.81,38305.06,38316.36,1096.86055,42162725.95,28051.0,2022-05-02 20:00:00